html {
  @apply text-white bg-yellow-1;
  font-size: 24px;
}

body {
  @apply bg-gray-800;
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-xl ml-2
}

h4 {
  @apply text-lg
}

.app-container {
  @apply container px-1 m-auto;

  @screen sm {
    @apply px-4;
  }
}

.page {
  @apply h-screen py-6 overflow-hidden;
}

* {
  scrollbar-width: auto;
  scrollbar-color: theme('colors.dark') transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.dark');
  border-radius: 2px;
  border: 0px solid transparent;
}