.content {
  @apply whitespace-nowrap bg-yellow-2 flex h-screen overflow-auto;

  header {
    @apply whitespace-pre-wrap mb-3;
    line-height: 1;
  }

  .page {
    @apply overflow-auto py-8 px-4;

  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.dark');
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme('colors.dark');
    border-radius: 4px;
    border: 1px solid #ffffff;
  }
  }
}

.nav {
  @apply mb-4;

  a {
    @apply px-2 py-1;
    &.active {
      @apply bg-dark text-yellow-2;
    }
  }
}

.count {
  @apply bg-dark text-yellow-2 px-1;
}

.user {
  @apply mt-2 mb-4;

  &__name {
    @apply flex items-center ml-4;

    img {
      @apply w-8 rounded-xl;
    }
  }
}

.categories {
  @apply flex flex-wrap;

  &__item {
    @apply mb-6 ml-4 mr-16;
  }
}

ul {
  li {
    line-height: 1.2;
  }
}

.emoji-list, .user-list {
  @apply flex flex-wrap;

  &__item {
    @apply flex items-center my-1 pr-4 w-full sm:w-1/2;

    .wrapper {
      @apply h-6 w-6 overflow-hidden rounded-sm mx-2 flex flex-shrink-0;

      img {
        @apply max-h-full max-w-full m-auto flex-shrink-0;
      }
    }

    .name {
      @apply mr-2;
    }
  }
}
