.content {
  @apply whitespace-nowrap bg-yellow-1 flex h-screen overflow-auto;
  background-repeat: repeat;

  header {
    @apply whitespace-normal mb-3;
    line-height: 1;
    @screen lg {
      @apply whitespace-pre-wrap;
    }
  }

  .guild__name  {
    @apply whitespace-nowrap mx-3 bg-dark text-yellow-1
  }

  .year {
    @apply bg-dark text-yellow-1
  }

  .page {
    @apply overflow-auto py-8 px-4 flex-grow;
  }
}

.nav {
  @apply mb-8;

  a {
    @apply px-2 py-1;
    &.active {
      @apply bg-dark text-yellow-2;
    }
  }
}

.count {
  @apply bg-dark text-yellow-2 px-1;
}

.user {
  @apply mt-2 mb-4;

  &__name {
    @apply flex items-center ml-4 mb-2;

    img {
      @apply w-8 rounded-xl;
    }
  }
}

.categories {
  h4 {
    @apply text-lg;
  }
  &__item {
    @apply mb-6 ml-2;
  }
}

ul {
  li {
    line-height: 1.2;
  }
}

.emoji-list, .user-list {
  @apply flex flex-wrap;

  &__item {
    @apply flex items-center my-1 pr-4 w-full lg:w-1/2;

    .wrapper {
      @apply h-6 w-6 overflow-hidden rounded-sm mx-1 flex flex-shrink-0;

      img {
        @apply max-h-full max-w-full m-auto flex-shrink-0;
      }
    }

    .name {
      @apply mr-2;
    }
  }
}

.emoji-list {
  &__item {
    @apply w-1/2 lg:w-1/3;
  }
}