.side {
  @apply p-2 overflow-y-auto flex-shrink-0 py-12 px-4;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    @apply p-2;

    li {
      @apply mb-2;

      a {
        @apply block p-2 border-gray-600 border-2 w-40 whitespace-nowrap;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      

        &.active {
          @apply bg-gray-600 text-white;
        }
      }
    }
  }
}