.side {
  @apply fixed top-0 bottom-0 bg-yellow-1 flex-shrink-0 py-14;
  overflow-x: visible;
  left: 100%;
  transition: all 0.3s ease;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__opener {
    @apply absolute bg-dark w-8 text-yellow-1 border-yellow-1 border-2;
    font-weight: 600;
    top: 50%;
    line-height: 36px;
    padding-bottom: 4px;
    width: 40px;
    border-radius: 2px;
    left: -60px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  &.opened {
    @apply -translate-x-full border-l-dark border-l-2;

    .side__opener {
      left: -20px;
    }
  }

  @screen lg {
    @apply static w-auto py-0;
    &.opened {
      @apply translate-x-0
    }
    .side__opener {
      display: none;
    }
  }


  ul {
    @apply py-6 px-8 overflow-y-auto h-full;

    li {
      @apply mb-2;

      a {
        @apply block p-2 border-dark border-2 w-40 whitespace-nowrap;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      

        &.active {
          @apply bg-dark text-yellow-2;
        }
      }
    }
  }
}