html {
  @apply text-dark font-rodin;
  font-size: 24px;
  user-select: none;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl ml-2;
}

h4 {
  @apply text-lg mb-2;
}

.content {
  @apply relative;
  overflow: auto;
  height: 100vh;
  padding: 55px 0 40px;

  &:before, &:after {
    @apply absolute;
    z-index: 99;
    content: '';
    left: 0;
    width:100%;
  }

  &:before {
    top: 55px;
    box-shadow: 0px -30px 20px 70px #B4AF9B
  }

  &:after {
    bottom: 30px;
    box-shadow: 0px 0px 20px 40px #B4AF9B;
  }
}

// PREVENT ADDRESS BAR HIDING
html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
}