@font-face {
  font-family: 'chihaya-jun';
  src: url('../fonts/chihaya-jun.woff') format('woff');
}

@font-face {
  font-family: 'Rodin';
  font-weight: 400;
  src: url('../fonts/FOTRodinBokutohProL.otf') format('opentype');
}

@font-face {
  font-family: 'Rodin';
  font-weight: 500;
  src: url('../fonts/FOTRodinBokutohProM.otf') format('opentype');
}

@font-face {
  font-family: 'Rodin';
  font-weight: 600;
  src: url('../fonts/FOTRodinBokutohProDB.otf') format('opentype');
}

@font-face {
  font-family: 'Rodin';
  font-weight: 700;
  src: url('../fonts/FOTRodinBokutohProB.otf') format('opentype');
}

@font-face {
  font-family: 'Rodin';
  font-weight: 800;
  src: url('../fonts/FOTRodinBokutohProEB.otf') format('opentype');
}

@font-face {
  font-family: 'Rodin';
  font-weight: 900;
  src: url('../fonts/FOTRodinBokutohProM.otf') format('opentype');
}